/***************COMMON STYLES*****************/
/* Font face generator */
@fonts-face {
    fonts-family: 'vni-avobold';
    src: url('fonts/12-5959-vavob-webfonts.eot');
    src: url('fonts/12-5959-vavob-webfonts.eot?#iefix') format('embedded-opentype'),
        url('fonts/12-5959-vavob-webfonts.woff2') format('woff2'),
        url('fonts/12-5959-vavob-webfonts.woff') format('woff'),
        url('fonts/12-5959-vavob-webfonts.ttf') format('truetype'),
        url('fonts/12-5959-vavob-webfonts.svg#vni-avobold') format('svg');
    fonts-weight: normal;
    fonts-style: normal;
}

@fonts-face {
    fonts-family: 'vni-avonormal';
    src: url('fonts/vavon-webfonts.eot');
    src: url('fonts/vavon-webfonts.eot?#iefix') format('embedded-opentype'),
        url('fonts/vavon-webfonts.woff2') format('woff2'),
        url('fonts/vavon-webfonts.woff') format('woff'),
        url('fonts/vavon-webfonts.ttf') format('truetype'),
        url('fonts/vavon-webfonts.svg#vni-avonormal') format('svg');
    fonts-weight: normal;
    fonts-style: normal;
}

@fonts-face {
    fonts-family: 'vni-avobold-italic';
    src: url('fonts/vavobi-webfonts.eot');
    src: url('fonts/vavobi-webfonts.eot?#iefix') format('embedded-opentype'),
        url('fonts/vavobi-webfonts.woff2') format('woff2'),
        url('fonts/vavobi-webfonts.woff') format('woff'),
        url('fonts/vavobi-webfonts.ttf') format('truetype'),
        url('fonts/vavobi-webfonts.svg#vni-avobold-italic') format('svg');
    fonts-weight: normal;
    fonts-style: normal;
}

@fonts-face {
    fonts-family: 'vni-avoitalic';
    src: url('fonts/vavoi-webfonts.eot');
    src: url('fonts/vavoi-webfonts.eot?#iefix') format('embedded-opentype'),
        url('fonts/vavoi-webfonts.woff2') format('woff2'),
        url('fonts/vavoi-webfonts.woff') format('woff'),
        url('fonts/vavoi-webfonts.ttf') format('truetype'),
        url('fonts/vavoi-webfonts.svg#vni-avoitalic') format('svg');
    fonts-weight: normal;
    fonts-style: normal;
}

@fonts-face {
    fonts-family: 'robotoitalic';
    src: url('fonts/roboto-italic-webfonts.eot');
    src: url('fonts/roboto-italic-webfonts.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto-italic-webfonts.woff2') format('woff2'),
        url('fonts/roboto-italic-webfonts.woff') format('woff'),
        url('fonts/roboto-italic-webfonts.ttf') format('truetype'),
        url('fonts/roboto-italic-webfonts.svg#robotoitalic') format('svg');
    fonts-weight: normal;
    fonts-style: normal;
}

@fonts-face {
    fonts-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfonts.eot');
    src: url('fonts/roboto-regular-webfonts.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto-regular-webfonts.woff2') format('woff2'),
        url('fonts/roboto-regular-webfonts.woff') format('woff'),
        url('fonts/roboto-regular-webfonts.ttf') format('truetype'),
        url('fonts/roboto-regular-webfonts.svg#robotoregular') format('svg');
    fonts-weight: normal;
    fonts-style: normal;
}

@fonts-face {
    fonts-family: 'robotobold_italic';
    src: url('fonts/roboto-bolditalic-webfonts.eot');
    src: url('fonts/roboto-bolditalic-webfonts.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto-bolditalic-webfonts.woff2') format('woff2'),
        url('fonts/roboto-bolditalic-webfonts.woff') format('woff'),
        url('fonts/roboto-bolditalic-webfonts.ttf') format('truetype'),
        url('fonts/roboto-bolditalic-webfonts.svg#robotobold_italic') format('svg');
    fonts-weight: normal;
    fonts-style: normal;
}

@fonts-face {
    fonts-family: 'robotobold';
    src: url('fonts/roboto-bold-webfonts.eot');
    src: url('fonts/roboto-bold-webfonts.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto-bold-webfonts.woff2') format('woff2'),
        url('fonts/roboto-bold-webfonts.woff') format('woff'),
        url('fonts/roboto-bold-webfonts.ttf') format('truetype'),
        url('fonts/roboto-bold-webfonts.svg#robotobold') format('svg');
    fonts-weight: normal;
    fonts-style: normal;
}

.icon-shopping-bag {
    background-image:url('images/icon_shopping_bag.png');
    display: inline-block;
}

.btn-mannawok-more {
    background-image:url(../images/btn-more.png);
    display: inline-block;

    height: 58px;
    width: 300px;
    background-size: 300px 58px;
}
.btn-add-to-cart {
    background-image: url(../images/btn-add-to-cart.png);
    display: block;
    height: 40px;
    width: 147px;
    background-repeat: no-repeat;
}

.btn-add-to-cart span {
    margin-left: 55px;
    margin-top: 10px;
    display: inline-block;
    height: 20px;
    color: #fff;
}
.btn-mannawok-more > span {
    display:inline-block;
    padding-top: 25px;
}
body {
    background-image: url(../images/bg.jpg);
    margin-top: 20px;
}
nav, p, a, span {
    fonts-family: 'robotoregular' !important;
}
h3 {
    font-family: 'vni-avonormal';
}
ul {
    list-style-type: none;
}

.header-social-links > ul {
    margin-top: 20px;
}
.header-social-links > ul > li {
    display: inline-block;
}
.header-social-links > ul > li:not(.last) {
    padding-right: 15px;
}

.header-personal-links > ul > li {
    display: block;
}
.header-social-links > ul > li  span {
    color: #adadad;
}

.header-personal-links > ul {
    margin-top: 0px;
}
.nav {
    display: block;
    height: 70px;
    background-image: url(../images/nav_bg.png);
    background-size: 1136px 70px; 
    background-repeat: no-repeat;
    margin-left: 2px;
    margin-top: 20px;
    fonts-family: 'vni-avonormal';
}

.nav > ul > li {
    display: inline-block;
    padding: 0px 20px 0px 20px;
    background-repeat: no-repeat;   
}
.nav > ul > li > a {
    display: inline-block;
    padding-top: 25px;
}
.nav > ul > li:first-of-type {margin-left: 100px;}


.nav > ul > li:not(.first), nav > ul > li:not(.last) {

}

.nav > ul > li:not(.last)::after {
    content: "•";
    color: #fff;
    padding-left: 80px;
    padding-right: 50px;
}

.nav > ul > li > a , nav > ul > li > a:hover{
    color: #fff;
    text-decoration: none;
}
h3 {
    text-transform: uppercase;
    text-align: center;
    transform: translateX(10%);
    font-size: 130%;
}
h4 {
    font-size: 100%;
    display: inline-block;
    width: 100%;
    text-align: center;
}
h3.title.no-decorated {
    padding-right: 15px;
    display: inline-block;
}
.content {
    margin-top: 30px;
}
.carousel-caption {
    background-image: url(../images/bgslider.png);
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 0px;
    margin-bottom: -15px;
    height: 471px;

}
.carousel-caption > div:nth-child(2) {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;
    line-height: 120%;
}
.carousel-caption .btn-mannawok-more{
    margin-top: 50px;
}
.carousel-indicators {
    margin-top: 30px;
}
.carousel-indicators li {
    border-radius: 0px;
}

.popular-dishes > .row:nth-of-type(2),
.recommended-dishes > .row:nth-of-type(2){
    margin-top: 20px;
    margin-left: 15px;
}

.popular-dishes .product-price, .popular-dishes .product-actions,
.recommended-dishes .product-price, .recommended-dishes .product-actions {
    text-align: center;
}
.product-actions > div{
    background-color: red;
    margin-left: 65px;
    padding-left: 100px;
}
.popular-dishes .btn-add-to-cart,
.recommended-dishes .btn-add-to-cart{
    margin-left: 50px;
}
/*.popular-dishes {
    width: 80%;
}*/
.recommended-dishes {
    background-image: url(../images/texture.png);
    background-size: 14px 440px;
    height: 440px;
}
.img-circle.dish-thumbnail-wrapper {
    width: 200px;
    margin-left: 20px;
}
.img-circle.dish-thumbnail-wrapper:hover {
    background-color: #e8c4a5;
} 
.recommended-dishes .img-circle img {
    width: 200px;
}
.quick-introduction p {
    text-align: center;
    line-height: 150%;
}
.quick-introduction > .row > div:nt-of-child(1) {
    margin-top: 40px;
}
footer {
    margin-top: 50px;
}
footer {
    background-image:url(../images/texture2.png);
    background-size: 10px 185px;
    height: 185px;
}
footer .bottom-footer {
    margin-top: 40px;
}
footer .payment-accepted p{
    margin-left: 25px;
}
.row.email-subscription, .row.contact-detail{
    color: #fff;
    text-align: center;
}
.row.email-subscription > div > h4 {
    display: inline-block;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 185px;
}
.email-subscription h3 {
    color: #885c34;
} 
.row.email-subscription .email-subscription-form {
    margin-top: 30px;
}
.row.contact-detail h4  span{
    background-image: url(../images/btn-more.png);
    display: inline-block;
    background-size: 81px 32px;
    height: 30px;
    width: 80px;
    line-height: 210%;
}
.btn-register {
    background-color: #885c34;
    border-radius: 0px;
    height: 26px;
    font-size: 11px;
}
@media only screen and (max-width : 1200px) {
    .nav {
        display: block;
        height: 70px;
        background-image: url(../images/nav_bg.png);
        background-size: 930px 70px; 
        background-repeat: no-repeat;
        margin-left: 2px;
    }
    .nav > ul > li {
        display: inline-block;
        padding: 0px 20px 0px 20px;
        background-repeat: no-repeat;   
    }
    .nav > ul > li:first-of-type {
        margin-left: 50px;
    }
}
@media only screen and (max-width : 1190px) {
    .header-social-links {
        margin-top: 50px;
    }
    .carousel-caption .btn-mannawok-more {
        margin-top: 100px;
    }
}

@media only screen and (max-width : 1100px) {
        .nav {
        display: block;
        height: 60px;
        background-image: url(../images/li_bg.png);
        background-size: 930px 60px; 
        background-repeat: no-repeat;
        margin-left: 2px;
    }
    .nav > ul > li {
        display: inline-block;
        padding: 0px 0px 0px 00px;
        background-repeat: no-repeat;   
    }
    .nav > ul > li:first-of-type {
        margin-left: 10px;
    }
    .nav > ul > li:not(.last)::after {
    content: "•";
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
}
    .header-social-links {
        margin-top: 100px;
    }
    .carousel-caption .btn-mannawok-more {
        margin-top: 200px;
    }
    .carousel-caption {
        margin-left: 20px;
        margin-right: 20px;
    }
    .homepage h4 {
        text-align: left;
        margin-left: 100px;
    }
    .homepage .recommended-dishes .product-price {
        text-align: center;
    }
    .homepage .recommended-dishes p {
        text-align: left !important;
    }
}
@media only screen and (max-width : 530px) {
    .header-social-links ul li {
        display: block;
    }
}
p {
    font-family: 'robotoregular';
}
/**************HOMEPAGE*******************/
.homepage .popular-dishes h3,
.homepage .quick-introduction h3,
.homepage .email-subscription h3 {
    color: #885c34;
}
.homepage .recommended-dishes h3 {
    color: #fff;
}
.homepage h3::before, h3::after {
    display: inline-block;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.homepage h3:not(.no-decorated)::before {
    content: "\f104";
    padding-right: 50px;
}

.homepage h3:not(.no-decorated)::after {
    content: "\f105";
    padding-left: 50px;
}
.homepage h3 {
    /*background-color: red;*/
}
.homepage h3 {
    background-image: url(../images/seperator-h3.png);
    display: inline-block;
    background-position-y: 30px;
    padding-bottom: 10px;
    background-size: 280px 2px;
    background-repeat: no-repeat;
}
.homepage h4 {
    font-size: 120%;
    display: inline-block;
    padding-top: 10px;
}
.img-circle.dish-thumbnail-wrapper {
    background: #fff;
    padding: 10px 10px 10px 10px;
}
.dish-thumbnail {
     max-width: 180px;
     /*width: 180px*/
}
.homepage .recommended-dishes, .homepage .popular-dishes {
    margin-top: 20px;
}
/**************CONTACT*****************/
.send-message input {
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 0px;
    width: 50%;
}
.send-message textarea {
    height: 200px;
    border-radius: 0px;
    resize: none;
}

/***************ABOUT*******************/
.about-page h3 {
    font-family: 'vni-avonormal';
    text-align:center;
    transform: translateX(0%);
}

.about-page .introduction p {
    text-align:center;
}
img {
    align: middle;
}

/**************MENU*******************/
.menu-page .recommended-dishes {
    background-image: url(../images/texture.png);
    background-size: 15px 800px;
    height: 790px;
}
.menu-page h3 {
    font-family: 'vni-avonormal';
    text-align:center;
    transform: translateX(0%);
}

.menu-page .row {
    margin-top: 10px;
    margin-left: 13px;
}

.menu-page footer {
    margin-top: -25px;
}

/***************MENU-DETAILS*******************/
.menu-detail-page h3{
    transform: translateX(0%);
}
.menu-detail-page .dish-detail {
    margin-top: 20px;
}
.menu-detail-page p {
    text-align: justify;
    line-height: 200%;
}
.menu-detail-page h3 {
    color: #885c34;
        font-family: 'vni-avonormal';
}
.menu-detail-page .actions {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 15px 0px 15px 0px;
}
.menu-detail-page .actions .price {
    border-right: 1px solid #ccc;
    padding: 15px 0px 15px 0px;
}
.menu-detail-page .price {
    color: #885c34;
    display:inline-block;
    padding-right: 20px;
    width: 150px;
    margin-top: -100px;
}
.menu-detail-page .price-label {
    margin-left: 25px;
    padding-right: 10px;
}
.menu-detail-page .regular-price {
    color: #885c34;
    font-size: 120%;
    font-weight: bold;
}
.menu-detail-page .quantity {
    display: inline-block;
}
.input-text.qty.text {
    background: #dadada;
    width: 46px;
    -moz-appearance: textfield;
    border-left: none;
    border-right: none;
    display: inline-block !important;
    border: 1px solid #dadada;
    height: 38px;
    text-align: center;
    line-height: 38px;
    padding: 0;
}
.menu-detail-page input.minus, .menu-detail-page input.plus {
    border-radius: 0px;
    display: inline-block !important;
    color: #fff;
    background-color: #5c5c5c !important;
    border: 1px solid #dadada;
    height: 38px;
    text-align: center;
    line-height: 38px;
    padding: 0;
    width: 20px;
}
.menu-detail-page input.minus {
    margin-right:-5px;
}
.menu-detail-page input.plus {
    margin-left:-5px;
}

.menu-detail-page .add-to {
    display:inline-block;
}
.menu-detail-page .add-to span {
    color: #fff;
    display:inline-block;
    margin-left: 15px;
}
.menu-detail-page .related-dishes p{
    text-align: center;
    margin-left: -10px;
}

div.related-dishes  div.btn-add-to-cart {
    margin-left: 40px;
}